aiohttp==3.6.2
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.3
canvasapi==2.0.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
discord.py==1.5.0
googletrans==3.0.0
h11==0.10.0
h2==4.0.0
hpack==4.0.0
hstspreload==2020.9.29
httpcore==0.11.1
httpx==0.15.5
hyperframe==6.0.0
idna==2.10
isort==5.5.4
lazy-object-proxy==1.5.1
mccabe==0.6.1
multidict==4.7.6
mypy==0.782
mypy-extensions==0.4.3
piazza-api==0.11.0
pycodestyle==2.6.0
pylint==2.6.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
regex==2020.7.14
requests==2.24.0
rfc3986==1.4.0
rope==0.17.0
six==1.15.0
sniffio==1.1.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
webcolors==1.11.1
wincertstore==0.2
wrapt==1.12.1
yarl==1.6.0
